:root {
  --red-primary: #D90429;
  --red-secondary: #EF233C;
  --red-light:#ffe9ed;;
  --light-gray: #EDF2F4;
  --medium-gray: #8D99AE;
  --semi-dark-gray: #303246;
  --dark-gray: #2B2D42;
  --font-raleway: 'Raleway', sans-serif;
  --font-open-sans: 'Open Sans', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-open-sans);
  background-color: var(--dark-gray);
  color: var(--light-gray);
   scroll-behavior: smooth; /* Smooth scrolling */
}

* {
  box-sizing: border-box;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
width: 10px;
}

::-webkit-scrollbar-track {
background: var(--medium-gray);
}

::-webkit-scrollbar-thumb {
background: var(--red-primary);
border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
background: var(--red-secondary);
}

/* Custom Cursor */
body {
    cursor: url("/wscursor.png"), auto; /* Use an image for the cursor */
}
a {
  color: inherit; /* Inherit text color from parent */
  text-decoration: none; /* Remove underline */
}
ul{
    list-style: none;
     padding: 0;
     margin: 0;
}

button{
  padding: 0;
   margin: 0;
   border: none;
}

section{
  min-height: 100vh;
}

::selection {
  background-color: var(--medium-gray);

}
::-moz-selection {
     background-color: var(--medium-gray);
 
}