/* Skills.module.css */

.skillsSection {
    background-color: var(--dark-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.skillsContainer {
    max-width: 1200px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.skillsTitle {
    font-family: var(--font-raleway);
    font-size: 3rem;
    font-weight: 800;
    color: var(--light-gray);
    text-align: left;
    margin-bottom: 2rem;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    margin-bottom: 1rem;
}

.slide {
    flex: 0 0 100%;
    padding: 1rem;
    min-width: 100%;
}

.skillCategoryTitle {
    font-family: var(--font-open-sans);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--light-gray);
    margin-bottom: 1rem;
    text-align: center;
}

.skillList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 0;
    margin: 0;
    list-style: none;
}

.skillItem {
    background-color: var(--semi-dark-gray);
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 12rem;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.skillItem.animate {
    opacity: 1;
    transform: translateY(0);
}

.skillIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--medium-gray);
}

.skillName {
    font-family: var(--font-open-sans);
    font-size: 1rem;
    color: var(--light-gray);
    text-align: center;
}

.arrowButton {
    position: absolute;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: var(--light-gray);
    cursor: pointer;
    transition: color 0.3s ease;
    padding: 0.5rem;
    z-index: 10; /*Ensure arrows are above slides*/
}

.arrowButton:hover {
    color: var(--red-primary);
}

.prevButton {
    left: 1rem;
     top: 50%;
    transform: translateY(-50%);
}

.nextButton {
    right: 1rem;
     top: 50%;
    transform: translateY(-50%);
}

/* Mobile Styles */
.skillsGrid {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.skillCategoryTitleMobile {
    font-family: var(--font-open-sans);
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--light-gray);
    margin-bottom: 0.8rem;
    text-align: center;
}


.skillListMobile {
    display: flex;
    flex-wrap: wrap;
     justify-content: center;
     gap: 0.7rem;
    padding: 0;
    margin: 0;
    list-style: none;
}

.skillItemMobile {
       background-color: var(--dark-gray);
    padding: 0.8rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    width: 8rem;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;

}

.skillItemMobile.animate {
    opacity: 1;
    transform: translateY(0);
}

.skillIconMobile {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--medium-gray);
    font-size: 1.5em; /* Adjust icon size for mobile */
}

.skillNameMobile {
    font-family: var(--font-open-sans);
    font-size: 0.9rem; /* Adjust font size for mobile */
    color: var(--light-gray);
    text-align: center;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .skillsTitle {
        font-size: 2.5rem;
    }
    .skillCategoryTitle {
        font-size: 1.2rem;
    }
    .skillList {
        flex-direction: column;
        align-items: center;
    }
     .skillItem {
        width: 90%;
    }
    .arrowButton {
        font-size: 1.5rem;
    }
    .prevButton,
    .nextButton{
         top: 1rem;
       transform: translateY(0);
    }
     .skillsGrid {
        padding: 1rem;
    }
}